* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ALSHauss';
  src: url('./assets/fonts/ALS_Hauss_Medium.otf');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'ALSHauss';
  src: url('./assets/fonts/ALS_Hauss_Regular.otf');
  font-weight: 600;
  font-display: swap;
}